<app-navigation></app-navigation>

<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
        <img src="https://swall.teahub.io/photos/small/3-39821_harry-potter-wallpaper-pc.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGbRYQcHke7F3PI8OxLhKssOoyi4m9rvyJwHqoUJGhgtfnkjQdxnco-CXJ26M308pYOks&usqp=CAU" class="d-block w-100" alt="...">
        </div>
    </div>
</div>

