<app-navigation></app-navigation>


<div class="center" >
    <div class="d-flex justify-content-md-around">
    <div class="card" style="width: 18rem;">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
        <h5 class="card-title">Personajes</h5>
        <p class="card-text">Selecciona para conocer más de los personajes de Harry Potter</p>
        <button pButton type="submit" (click)="viewPersonajes()" class="btn btn-outline-primary">Personajes</button>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
        <h5 class="card-title">Estudiantes</h5>
        <p class="card-text">Selecciona para conocer más de los estudiantes de Harry Potter</p>
        <button type="button" class="btn btn-outline-primary">Estudiantes</button>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
        <h5 class="card-title">Profesores</h5>
        <p class="card-text">Selecciona para conocer más de los profesores de Harry Potter</p>
        <button type="submit" (click)="viewProfesores()" class="btn btn-outline-primary">Profesores</button>
    </div>
    </div>
</div>
</div>

